#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&lt { quick_tap_ms = <200>; };

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
&kp Q      &kp W &kp E &kp R &kp T     &kp Y &kp U  &kp I    &kp O   &kp P
&kp A      &kp S &kp D &kp F &kp G     &kp H &kp J  &kp K    &kp L   &mt RCTL SCLN
&mt LSFT Z &kp X &kp C &kp V &kp B     &kp N &kp M  &kp CMMA &kp DOT &mt RSFT FSLH
&kp LCTL &mt LGUI RET &lt 1 BKSP     &lt 1 SPC &mt RALT TAB &kp RCTL
      >;
    };

    symbols {
      bindings = <
&kp NUM_1 &kp NUM_2 &kp NUM_3 &kp NUM_4 &kp NUM_5   &kp NUM_6 &kp NUM_7 &kp NUM_8 &kp NUM_9 &kp NUM_0
&kp ESC &kp HOME &kp PGDN &kp PGUP &kp END      &kp LARW &kp DARW &kp UARW &kp RARW &kp QUOT
&kp LSFT &bt BT_CLR &kp GRAV &kp MINUS &bt BT_PRV      &bt BT_NXT &kp EQL &kp LBKT &kp RBKT &kp BSLH
&trans &trans &kp BKSP   &kp BKSP &trans &trans
      >;
    };
  };
};
